<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form name="form" th:action="@{/login}" action="/login" method="POST"> <!-- 3 -->
    <div>
        <label for="username">账号</label>
        <input type="text" name="username" value="" placeholder="账号" />
    </div>
    <div>
        <label for="password">密码</label>
        <input type="password" name="password" placeholder="密码" />
    </div>
    <input type="submit" id="login" value="Login"/>
</form>

</body>
</html>