<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品_入口</title>
    <link href="/themes/bd/main.css" rel="stylesheet" type="text/css"/>

    <script src="/js/dev/base_common.min.js"></script>
    <script src="/js/my97datepicker/WdatePicker.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>

<table class="productEntry marginAuto">
    <tr>
        <td>
            <div id="dataInterface" class="productEntry_block">
                <div class="productEntry_block_img relativeE">
                    <div>点击进入</div>
                </div>
                <div class="productEntry_block_down relativeE">
                    <div class="fst">
                        数据接口
                    </div>
                    <div>
                        提供国家统计、环境质量、举报投诉、<br />
                        能源以及在线监控排污相关数据。
                    </div>
                    <span></span>
                </div>
            </div>
        </td>
        <td>
            <div id="dataReport" class="productEntry_block">
                <div class="productEntry_block_img">
                    <div>点击进入</div>
                </div>
                <div class="productEntry_block_down relativeE">
                    <div class="fst">
                        数据报表
                    </div>
                    <div>
                        对国家统计、环境质量、举报投诉、能源<br />
                        以及在线监控排污数据进行可视化展现。
                    </div>
                    <span></span>
                </div>
            </div>
        </td>
        <td>
            <div id="rankSta" class="productEntry_block">
                <div class="productEntry_block_img">
                    <div>点击进入</div>
                </div>
                <div class="productEntry_block_down relativeE">
                    <div class="fst">
                        排行统计
                    </div>
                    <div>
                        从不同层面和纬度对数据进行汇总分析，<br />
                        以固定的方式对环保单位,公众，排污企<br />
                        业，环保服务企业进行数据的展示。
                    </div>
                    <span></span>
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">

    $('#dataInterface').click(function(){
        productTab = 'dataInterface';
    });
    $('#dataReport').click(function(){
        productTab = 'dataReport';
    });
    $('#rankSta').click(function(){
        productTab = 'rankSta';
    });

    $('.productEntry_block').click(function(){
        center1.panel('refresh','product.html');
    });

    //为productEntry页面的三个进入按钮添加鼠标悬浮效果
    $('.productEntry_block').mouseenter(function(){
        $(this).addClass('on');
    });
    $('.productEntry_block').mouseleave(function(){
        $(this).removeClass('on');
    });
    //为productEntry页面的三个进入按钮添加鼠标悬浮效果


</script>

</body>
</html>