<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jointsky.edps.mapper.DataOutlineMapper">


    <select id="getTotalDataRecordNum" resultType="int">
        SELECT SUM(TABLE_ROWS) from information_schema.tables WHERE TABLE_SCHEMA='crawldata';
    </select>

    <select id="getPSNum" resultType="int">
        SELECT COUNT(DISTINCT PSCode) from zxjcpscount;
    </select>

    <select id="getPSOutputNum" resultType="int">
        SELECT COUNT(DISTINCT pscode,outputcode) from zxjc_ps_outputcount;
    </select>

    <select id="getPwshfPSNum" resultType="int">
        SELECT COUNT(PSCode) from pwshfpscount;
    </select>

    <resultMap type="com.jointsky.edps.model.FlowByYear" id="FlowByYearResultMap">
        <result column="year" property="year" />
        <result column="dust_flow" property="dustFlow" />
        <result column="so2_flow" property="so2Flow" />
        <result column="nox_flow" property="noxFlow" />
        <result column="cod_flow" property="codFlow" />
        <result column="nh4_flow" property="nh4Flow" />
    </resultMap>


    <select id="getFlowByYear" resultMap="FlowByYearResultMap">
        select * from flowbyyear where year BETWEEN #{0} and #{1} order by year;
    </select>


    <resultMap type="com.jointsky.edps.model.FlowMonth" id="FlowMonthResultMap">
        <result column="regioncode" property="regionCode" />
        <result column="regionname" property="regionName" />
        <result column="month" property="month" />
        <result column="dust_flow" property="dustFlow" />
        <result column="so2_flow" property="so2Flow" />
        <result column="nox_flow" property="noxFlow" />
        <result column="cod_flow" property="codFlow" />
        <result column="nh4_flow" property="nh4Flow" />
        <result column="totalflow" property="totalFlow" />
    </resultMap>


    <select id="getTopTenFlowProvinceByMonth" resultMap="FlowMonthResultMap">
        SELECT * from flowprovincemonth a WHERE a.regionname is not NULL and month=#{month} ORDER BY totalflow DESC LIMIT 10;
    </select>


    <resultMap type="com.jointsky.edps.model.FlowYear" id="FlowYearResultMap">
        <result column="regioncode" property="regionCode" />
        <result column="regionname" property="regionName" />
        <result column="year" property="year" />
        <result column="dust_flow" property="dustFlow" />
        <result column="so2_flow" property="so2Flow" />
        <result column="nox_flow" property="noxFlow" />
        <result column="cod_flow" property="codFlow" />
        <result column="nh4_flow" property="nh4Flow" />
        <result column="totalflow" property="totalFlow" />
    </resultMap>


    <select id="getTopTenFlowProvinceByYear" resultMap="FlowYearResultMap">
        SELECT * from flowprovinceyear a WHERE a.regionname is not NULL and year=#{year} ORDER BY totalflow DESC LIMIT 10;
    </select>

    <select id="getTopTenFlowCityByMonth" resultMap="FlowMonthResultMap">
        SELECT * from flowcitymonth a WHERE a.regionname is not NULL and month=#{month} ORDER BY totalflow DESC LIMIT 10;
    </select>

    <select id="getTopTenFlowCityByYear" resultMap="FlowYearResultMap">
        SELECT * from flowcityyear a WHERE a.regionname is not NULL and year=#{year} ORDER BY totalflow DESC LIMIT 10;
    </select>


    <resultMap type="com.jointsky.edps.model.FlowPerGDP" id="FlowPerGDPResultMap">
        <result column="regioncode" property="regionCode" />
        <result column="regionname" property="regionName" />
        <result column="year" property="year" />
        <result column="quarter" property="quarter" />
        <result column="gdp" property="gdp" />
        <result column="dust_flowpergdp" property="dustFlowPerGDP" />
        <result column="so2_flowpergdp" property="so2FlowPerGDP" />
        <result column="nox_flowpergdp" property="noxFlowPerGDP" />
        <result column="cod_flowpergdp" property="codFlowPerGDP" />
        <result column="nh4_flowpergdp" property="nh4FlowPerGDP" />
        <result column="totalflowpergdp" property="totalFlowPerGDP" />
    </resultMap>

    <select id="getTopTenFlowPerGDPByQuarter" resultMap="FlowPerGDPResultMap">
        SELECT * from flowpergdpbyprovincequarter WHERE year=#{0} and quarter=#{1} AND totalflowpergdp !=0
        <if test='order == "最多"'>
        ORDER BY totalflowpergdp DESC
        </if>
        <if test='order == "最少"'>
        ORDER BY totalflowpergdp ASC
        </if>
        LIMIT 10;
    </select>


    <resultMap type="com.jointsky.edps.model.ProvinceCharge" id="ProvinceChargeMap">
        <result column="RegionName" property="regionName" />
        <result column="datamonth" property="dataMonth" />
        <result column="charge" property="charge" />
    </resultMap>

    <select id="getTop10ChargeProvince" resultMap="ProvinceChargeMap">
        SELECT regionname,datamonth,charge from pwshf_provincemonth_sum where datamonth=#{0} ORDER BY charge DESC LIMIT 0,10;
    </select>

    <resultMap type="com.jointsky.edps.model.ProvinceYearCharge" id="ProvinceYearChargeMap">
        <result column="regionname" property="regionName" />
        <result column="year" property="year" />
        <result column="charge" property="charge" />
    </resultMap>

    <select id="getYearTop10ChargeProvince" resultMap="ProvinceYearChargeMap">
        select regionname,substr(datamonth,1,4) year,sum(charge) charge from pwshf_provincemonth_sum where substr(datamonth,1,4)=#{0} GROUP BY regionname,substr(datamonth,1,4) ORDER BY sum(charge) desc LIMIT 0,10;
    </select>

    <resultMap type="com.jointsky.edps.model.ProvincePollutantCharge" id="ProvincePollutantChargeMap">
        <result column="regionname" property="regionName" />
        <result column="datamonth" property="dataMonth" />
        <result column="pollutantname" property="pollutantName" />
        <result column="charge" property="charge" />
    </resultMap>

    <select id="getTop10PollutantChargeProvince" resultMap="ProvincePollutantChargeMap">
        SELECT regionname,datamonth,pollutantname,charge from pwshf_provincemonth_pollutant where datamonth=#{0} and pollutantname=#{1}  ORDER BY charge DESC LIMIT 0,10;
    </select>

    <resultMap type="com.jointsky.edps.model.ProvinceYearPollutantCharge" id="ProvinceYearPollutantChargeMap">
        <result column="regionname" property="regionName" />
        <result column="year" property="year" />
        <result column="pollutantname" property="pollutantName" />
        <result column="charge" property="charge" />
    </resultMap>

    <select id="getYearTop10PollutantChargeProvince" resultMap="ProvinceYearPollutantChargeMap">
        select regionname,substr(datamonth,1,4) year,pollutantname, sum(charge) charge from pwshf_provincemonth_pollutant where substr(datamonth,1,4)=#{0} and pollutantname = #{1} GROUP BY regionname,substr(datamonth,1,4),pollutantname ORDER BY sum(charge) desc LIMIT 0,10;
    </select>


    <resultMap type="com.jointsky.edps.model.DataStatistics" id="DataStatisticsResultMap">
        <result column="currentdate" property="currentDate" />
        <result column="gasdaydatacount" property="gasDayDataCount" />
        <result column="waterdaydatacount" property="waterDayDataCount" />
        <result column="gashourdatacount" property="gasHourDataCount" />
        <result column="waterhourdatacount" property="waterHourDataCount" />
        <result column="gasminutedatacount" property="gasMinuteDataCount" />
        <result column="waterminutedatacount" property="waterMinuteDataCount" />
        <result column="gaspscount" property="gasPSCount" />
        <result column="waterpscount" property="waterPSCount" />
        <result column="gasoutputcount" property="gasOutputCount" />
        <result column="wateroutputcount" property="waterOutputCount" />
    </resultMap>

    <select id="getDataStatistics" resultMap="DataStatisticsResultMap">
       SELECT * FROM statistics order by currentdate DESC limit 1;
    </select>

</mapper>