<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jointsky.edps.mapper.RegionFPCOFlowMapper">
    <resultMap type="com.jointsky.edps.model.RegionFPCOFlow" id="RegionFPCOFlowResultMap">
        <result column="RegionCode" property="regionCode" />
        <result column="region" property="regionName" />
        <result column="month" property="month" />
        <result column="firepower" property="firePower" />
        <result column="crudeoil" property="crudeOil" />
        <result column="dust_flow" property="dustFlow" />
        <result column="so2_flow" property="so2Flow" />
        <result column="nox_flow" property="noxFlow" />
        <result column="cod_flow" property="codFlow" />
        <result column="nh4_flow" property="nh4Flow" />
    </resultMap>


    <select id="getFPOCFlowByRegionNameDate" resultMap="RegionFPCOFlowResultMap">
        select * from firepowercrudeoil where region=#{0} AND month=#{1};
    </select>

    <select id="getFPOCFlowByRegionStartEndDate" resultMap="RegionFPCOFlowResultMap">
        select * from firepowercrudeoil where region=#{0} AND month BETWEEN #{1} AND #{2};
    </select>

</mapper>