<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jointsky.edps.mapper.RegionSelectMapper">
    <resultMap type="com.jointsky.edps.model.RegionSelect" id="RegionSelect">
        <result column="regionCode" property="regionCode" />
        <result column="regionName" property="regionName" />
    </resultMap>

    <select id="getRegionSelect" resultMap="RegionSelect">

        select t.regionCode, t.regionName from region t where t.`ParentCode` = #{0} order by regioncode asc

    </select>

    <select id="getCity" resultType="String">
        SELECT DISTINCT CONCAT(a.region,"市") city from cityaqidaydata_copy a;
    </select>

</mapper>