#beginExp{
    width: 263px;
    height: 84px;
    position: absolute;
    bottom: 40px;
    right: 350px;
    cursor: pointer;
    background-image: url("../images/beginExp.png");
}

div.homePage01{
    height: 255px;
    box-sizing: border-box;
}

table.homePage01 td{
    padding: 40px 100px;
}
table.homePage01 li{
    font-size: 18px;
}
table.homePage01 li.title{
    font-weight: bolder;
}
table.homePage01 li.img div{
    margin: 34px 0;
    width: 131px;
    height: 10px;
    background-image: url("../images/homePage_line.png");
}


div.homePage02{
    height: 425px;
    background-color: #efefef;
    box-sizing: border-box;
}
div.homePage02 div{
    display: table;
    text-align: center;
}
div.homePage02 div li{
    font-size: 18px;
    line-height: 2;
}

#productIntro{
    background-color: #2baffa;
    color:white;
    font-size: 28px;
    line-height: 2;
    height: 60px;
    width: 250px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}


div.homePage03{
    font-size: 18px;
    height: 400px;
    background-color: white;
    box-sizing: border-box;
}
div.homePage03 table td{
    padding: 50px 50px;
}

div.homePage03 li.img div{
    margin: 14px auto;
    width: 106px;
    height: 121px;

}
div.homePage03 .img_line div{
    margin: 12px auto;
    width: 35px;
    height: 2px;
}
div.homePage03 .down1 .img_line div{
    background-color: #8ed308;
}
div.homePage03 .down2 .img_line div{
    background-color: #1196db;
}
div.homePage03 .down3 .img_line div{
    background-color: #edba09;
}

div.homePage03 td.down1 li.img div{
    background-image: url("../images/homePage_down1.png");
}
div.homePage03 td.down2 li.img div{
    background-image: url("../images/homePage_down2.png");
}
div.homePage03 td.down3 li.img div{
    background-image: url("../images/homePage_down3.png");
}


div.homePage_foot{
    min-width: 1300px;
    font-size: 18px;
    color: white;
    height: 178px;
    background-color: #a6a6a6;
    box-sizing: border-box;
    padding: 10px 100px;
}

div.homePage_foot .L{
    float: left;

}
div.homePage_foot .L li{
    margin: 10px 0;
}
div.homePage_foot .L li.title{
    width: 365px;
    height: 49px;
    background-image: url("../images/footTitle.png");
    margin-bottom: 20px!important;
}
div.homePage_foot .L li span{
    margin-right: 80px;
}


div.homePage_foot .R{
    float: right;
    margin-top: 36px;
}
div.homePage_foot .R .QR{
    width: 108px;
    height: 108px;
    background-image: url("../images/QR.png");
}


