table.product{
    width: 1500px;
    margin-top: 140px;
}
table.product td{

}
table.product .cell{
    color: #595757;
    text-align: left;
    font-size: 18px;
    background-color: white;
    width: 433px;
    height: 178px;
    line-height: 2;
    padding: 30px 20px;
    box-sizing: border-box;
    cursor: pointer;
    border: solid 1px #c9caca;
    margin: 40px auto;
}

table.product .cell:hover{
    color:white;
    background-color: #2baffa;
}

table.product .cell .title{
    border: dashed;
    border-width: 0 0 1px 0;
}

table.product .cell .free{
    color: #d5ae13;
    font-size: 22px;
    padding-top: 14px;
}
table.product .cell.on .free{
    color: white;
}

table.product .cell .go{
    position: absolute;
    top: 24px;
    right: 0;
    width: 28px;
    height: 28px;
    background-image: url("../images/arrow_blue.png");
}
table.product .cell.on .go{
    background-image: url("../images/arrow_white.png");
}
