table.productEntry td{
    padding: 200px 40px;
}

.productEntry_block{
    width: 423px;
    height: 370px;
    cursor: pointer;
}

.productEntry_block_img{
    margin: 0;
    width: 423px;
    height: 211px;
}
.productEntry_block_img div{
    width: 224px;
    line-height: 2.6;
    color: white;
    font-size: 28px;
    border: white 1px solid;
    position: relative;
    top: 66px;
    margin: 0 auto;
    display: none;
}
.productEntry_block.on .productEntry_block_img div{
    display: block;
}

#dataInterface .productEntry_block_img{
    background-image: url("../images/dataInterface.png");
}
#dataInterface.on .productEntry_block_img{
    background-image: url("../images/dataInterface_hover.png");
}
#dataReport .productEntry_block_img{
    background-image: url("../images/dataReport.png");
}
#dataReport.on .productEntry_block_img{
    background-image: url("../images/dataReport_hover.png");
}
#rankSta .productEntry_block_img{
    background-image: url("../images/rankSta.png");
}
#rankSta.on .productEntry_block_img{
    background-image: url("../images/rankSta_hover.png");
}

.productEntry_block_down{
    height: 158px;
    background-color: #e5e5e5;
    padding: 15px 0 0 40px;
    box-sizing: border-box;
}
.productEntry_block_down span{
    display: block;
    position: absolute;
    top: 25px;
    right: 50px;
    width: 28px;
    height: 28px;
    background-image: url("../images/arrow_blue.png");
}
.productEntry_block.on .productEntry_block_down span{
    background-image: url("../images/arrow_white.png");
}

.productEntry_block_down div{
    text-align: left;
    color: #595757;
    font-size: 18px;
    position: relative;
    margin: 10px;
}
.productEntry_block.on .productEntry_block_down div{
    color: white;
}
.productEntry_block_down div.fst{
    font-size: 20px;
    font-weight: bolder;
}

.productEntry_block.on .productEntry_block_down{
    background-color: #2baffa;
}



