table.rankSon{
    width: 1200px;
    margin-top: 80px;
    font-size: 20px;
}

table.rankSon .block{
    width: 349px;
    height: 206px;
    color: white;
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
}
table.rankSon .block .money{
    text-align: right;
    line-height: 2.4;
    border: dashed white;
    border-width: 0 0 1px 0;
    margin-bottom: 5px;
}
table.rankSon .block li{
    line-height: 1.4;
}
table.rankSon .block li span{
    padding-right: 30px;
}

table.rankSon .block.b1{
    background-image: url("../images/rankSon-No.1.png");
}
table.rankSon .block.b2{
    background-image: url("../images/rankSon-No.2.png");
}
table.rankSon .block.b3{
    background-image: url("../images/rankSon-No.3.png");
}


table.rankSonGrid{
    width:1300px;
    border: solid #c1ccd2;
    border-width: 1px 0 0 1px;
    margin-top: 80px;
}

table.rankSonGrid td,table.rankSonGrid th{
    font-size: 18px;
    line-height: 2;
    border: solid #c1ccd2;
    border-width: 0 1px 1px 0;
}
table.rankSonGrid th,table.rankSonGrid tr.title td{
    font-size: 20px;
    line-height: 2;
}
table.rankSonGrid th{
    background-color: #ddedfa;
}



