<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品-数据报表</title>
    <link href="/themes/bd/main.css" rel="stylesheet" type="text/css"/>

    <script src="/js/dev/base_common.min.js"></script>
    <script src="/js/my97datepicker/WdatePicker.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>


<table class="product marginAuto" width="100%">
    <tr>
        <td>
            <div class="cell" myTab="0">
                <div class="title">全国行业GDP与排放量报表</div>
                <div>对全国行业GDP与排放量进行可视化展示</div>
                <div class="relativeE">
                    <div class="free">免费</div>
                    <div class="go"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="cell" myTab="1">
                <div class="title">火力发电和原油与排放量报表</div>
                <div>对火力发电和原油与排放量进行可视化展示</div>
                <div class="relativeE">
                    <div class="free">免费</div>
                    <div class="go"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="cell" myTab="2">
                <div class="title">GDP与排放量报表</div>
                <div>对GDP与排放量进行可视化展示</div>
                <div class="relativeE">
                    <div class="free">免费</div>
                    <div class="go"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="cell" myTab="3">
                <div class="title">环境质量与排放量报表</div>
                <div>对环境质量与排放量进行可视化展示</div>
                <div class="relativeE">
                    <div class="free">免费</div>
                    <div class="go"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="cell" myTab="4">
                <div class="title">能源资源消费与排放量报表</div>
                <div>对能源资源消费与排放量进行可视化展示</div>
                <div class="relativeE">
                    <div class="free">免费</div>
                    <div class="go"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="cell" myTab="5">
                <div class="title">能源资源产量与排放量报表</div>
                <div>对能源资源产量与排放量进行可视化展示</div>
                <div class="relativeE">
                    <div class="free">免费</div>
                    <div class="go"></div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="cell" myTab="6">
                <div class="title">举报投诉报表</div>
                <div>对举报投诉进行可视化展示</div>
                <div class="relativeE">
                    <div class="free">免费</div>
                    <div class="go"></div>
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">


    var dataReportTab = 0;

    $('table.product .cell').mouseenter(function(){
        $(this).addClass('on');
    });
    $('table.product .cell').mouseleave(function(){
        $(this).removeClass('on');
    });

    //点击每个td下的cell类进入数据展示页面
    setTimeout(function(){
        center2 = $('#lay2').layout('panel','center');
    },0);


    $('.product .cell').click(function(){

        dataReportTab = $(this).attr('myTab');
        //alert(dataReportTab);

        center2.panel('refresh','product/dataReport/dataReportSon.html');
    });

    //点击每个td下的cell类进入数据展示页面


</script>


</body>
</html>