.myCombobox .textbox.combo{
    height: 32px!important;
    width: 100%!important;
}
.panel.combo-p{


}


.panel-header, .panel-body {border-width: 0px!important;}

.datagrid,.combo-p{border:solid 1px #D4D4D4!important;}



/*我的添加：添加下面这个更好，所有的easyui所有的布局都在layout下面*/

.ui-layout * {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}