body { margin:0; padding:0; height:100%; font-size: 12px; font-family:  微软雅黑, Tahoma, Helvetica, 'SimSun', sans-serif; background-color:#f2f2f2; color:#5b5b5b; width: 100%; overflow-x: hidden; }
html { width: 100%; height:100%; }
ul, p, form { margin:0; padding:0; list-style:none; }
img { border:0; }
input[type=text], textarea { color:#5b5b5b; border: solid 1px #D3D3D3; }
input[type=checkbox] { vertical-align:text-bottom; }
._showloading { position: absolute; left: 0; width: 100%; height: 100%; top: 0; background: #FFFFFF; opacity: 0.8; filter: alpha(opacity=90); z-index: 99999; }
._showloading ._showloading-msg { background-color: #f8f8f8; border: 2px solid #ABABAB; position: absolute; left: 45%; top: 50%; margin-top: -20px; padding: 10px 5px 10px 10px; width: auto; height: 16px; z-index: 99999999; }
/*--pub--begin--*/
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mt5 { margin-top: 5px; }
.fr { float:right }
.top10 { top: 10px; }
.top50 { top: 50px; }
.top55 { top: 55px; }
.top87 { top: 87px; }
.top99 { top: 99px; }
.left205 { left:205px; }
.left0 { left:0; }
.minW1280 { min-width:1280px; }
.w150 { width:145px; }
.mt2 { margin-top:2px; }
.mt10 { margin-top: 10px !important; }
.pd0 { padding:0px !important; }
.pd3 { padding:3px; }
.pd10 { padding:10px; }
.fl { float: left; }
.tl { text-align: right; }
.font14 { font-size:14px; }
.font16 { font-size:16px; }
.font18 { font-size:18px; }
.bold { font-weight: bold; }
/*--pub--end--*/

/*--input--begin--*/
input.textBox { height:32px; padding:0 5px; line-height:32px; box-sizing: border-box; background-color:#fff; border:1px solid #D3D3D3; vertical-align: middle; font-size: 12px; color:#5b5b5b; }
/*--input--end--*/

input.default { width:200px; }
input.larger { width:300px; }
input.small { width:50px; min-width:50px; height:25px; padding:3px; margin:0px; }
.width100 { width:100px; }
/*---button--begin---*/
.bt_yellow { min-width: 80px; height: 32px; padding: 0 12px; background-color: #b59b15; border: 1px solid #b09312; text-align: center; color: #fff; border-radius: 3px; cursor: pointer; vertical-align: middle }
.bt_yellow_b { min-width: 100px; height: 32px; padding: 0 12px; font-size:15px; background-color: #b59b15; border: 1px solid #b09312; text-align: center; color: #fff; border-radius: 3px; cursor: pointer; vertical-align: middle }
.bt_orange { min-width: 80px; height: 32px; padding: 0 12px; background-color: transparent; border: 1px solid #FF8400; text-align: center; color: #FF8400; border-radius: 3px; cursor: pointer; vertical-align: middle }
.bt_blue { min-width: 80px; height: 32px; padding: 0 12px; background-color: #0064c2; border: 1px solid #015aae; text-align: center; color: #fff; border-radius: 3px; cursor: pointer; vertical-align: middle }
/*---button--end---*/

.bt_save.btn-sm { height: 32px; padding: 0 12px; background-color: #0064c2; border: 1px solid #015aae; text-align: center; color: #fff; border-radius: 3px; cursor: pointer; vertical-align: middle }
.bt_gray.btn-sm { height: 32px; padding: 0 12px; font-size:15px; background-color: #b59b15; border: 1px solid #b09312; text-align: center; color: #fff; border-radius: 3px; cursor: pointer; vertical-align: middle }
.head { background: url('images/head_bg.png') repeat-x; line-height:44px; color: #fff; font-size:13px; }
.head .title { font-size: 16px; font-weight: bold; margin-left: 15px; }
.head .tab { font-size: 16px; float: right; margin-right: 15px; color:#dbe8ff }
.head .tab li { padding:0 20px; height:42px; line-height:42px; border:1px solid transparent; text-align: center; display: inline-block; cursor:pointer; }
.head .tab li.on { color: #fff; border:1px solid #003da6; -moz-box-shadow:5px 5px 25px #003da6 inset; -webkit-box-shadow:5px 5px 25px #003da6 inset; box-shadow:5px 5px 25px #003da6 inset; }
.head .tab li.tab-item { position: relative; padding:0px 15px; }
.head .tab li.tab-item.on { position: relative; padding:0px 15px; }
.head .tab li.tab-item .total { position: absolute; top:0px; right:4px; display: block; corlor:#fffff; }
.head .tab li.tab-item .total .text-box { display: block; height:18px; line-height:18px; float: left; width:auto; background-image:url("images/top_smll_box.png"); background-position: -5px -5px; background-repeat:no-repeat; padding:0px 3px 0px 6px; text-align: center; font-size: 10px; }
.head .tab li.tab-item .total .text-box-right { display: block; width:3px; height:18px; line-height:18px; float: right; background-image:url("images/top_smll_box.png"); background-position: -148px -5px; background-repeat:no-repeat; }
.toolBar { width:100%; box-sizing: border-box; line-height:34px; padding: 2px 15px 5px 15px; overflow: hidden; font-size: 13px; background-color: #eee; border-bottom: 1px solid #c3c3c3; }
.toolBar label { margin-right:10px; }
.whiteBar { width:100%; line-height:50px; height:50px; padding: 0px; overflow: hidden; font-size: 13px; background: #FFFFFF; }
.context { position: absolute; bottom: 0px; width: 100%; display: block; box-sizing: border-box; padding: 0 10px; }
.tableLine { position:relative; width:100%; height:99.9%; box-sizing: border-box; }
.grayBar { width:100%; height:38px; line-height:35px; overflow: hidden; background: #EFEFEF; border:1px solid #CECECE; }
.border-topNone { border-top:none }
.border-bottomNone { border-bottom:none!important; }
.grayBar .label { margin-left:10px; }
.table3 { width: 100%; border: 1px solid #c5c5c5; background-color: #FFFFFF; font-size: 12px; table-layout: fixed; border-collapse: collapse; }
.table3 th, .table3 td { line-height:28px; }
.table3 th { background-color: #EEF1F1; border-bottom: 1px solid #c5c5c5; padding: 5px 10px; border-right: 1px solid #CDCDCD; font-weight: 400; border-collapse: collapse; }
.table3 .white { background-color: white; border-bottom: 1px solid #c5c5c5; padding: 5px 14px!important; border-right: none!important; font-weight: 400; border-collapse: collapse; }
.table3 td { border-bottom: 1px solid #CDCDCD; border-right: 1px solid #CDCDCD; border-collapse: collapse; }
.noBorder, .noBorder + .combo { border: none !important; }
.opacity0 { background: transparent !important; }
/*normal类*/
input.normal-text { height: 32px; line-height: 32px; width: 150px!important; vertical-align: middle; font-size: 12px; color: #5b5b5b; margin: 0px!important; padding: 0px!important; }
.normal-textarea { width: 150px; height:60px; }
.normal-combobox+span.combo { height: 32px!important; width: 150px!important; }
.normal-combobox+span.combo span.textbox-addon { height: 150px!important; }
.normal-combobox+span.combo a.combo-arrow { height: 150px!important; }
.normal-combobox+span.combo .validatebox-invalid { height: 80%!important; width: 150px!important; }
/*normal类*/

/*half类*/
input.half-text { height: 32px; line-height: 32px; width: 50%; vertical-align: middle; font-size: 12px; color: #5b5b5b; margin: 0px; padding: 0px; }
.half-textarea { width: 50%; height:60px; resize: none; }
.half-combobox { }
.half-combobox+span.combo { height: 32px!important; width: 50%!important; }
.half-combobox+span.combo span.textbox-addon { height: 100%!important; }
.half-combobox+span.combo a.combo-arrow { height: 100%!important; }
.half-combobox+span.combo .validatebox-text { height: 80%!important; width: 50%!important; }
/*half类*/

/*full类*/
input.full-text { height: 32px; line-height: 32px; width: 100%; vertical-align: middle; font-size: 12px; color: #5b5b5b; margin: 0px; padding: 0px; }
.full-textarea { width: 99.5%; height:60px; resize: none; }
.full-combobox { }
.full-combobox+span.combo { height: 32px!important; width: 99.6%!important; }
.full-combobox+span.combo span.textbox-addon { height: 100%!important; }
.full-combobox+span.combo a.combo-arrow { height: 100%!important; }
.full-combobox+span.combo .validatebox-text { width: 94.5%!important; }
/*full类*/

table.center td,table.center td input{
    text-align: center;
}

/*underLine类*/
.underLine input { height: 32px; line-height: 32px; border-color: #5b5b5b; border-width: 0 0 1px 0; text-align: center; vertical-align: middle; font-size: 12px; color: #5b5b5b; margin: 0px!important; padding: 0px!important; }
/*underLine类*/

/*宽度类*/
.wInt{
    width: 80px!important;
}
/*宽度类*/



.yellow-rand { color:#FF6D01; text-decoration: none; width:100%; height: 25px; margin:0px 5px; padding:0px; position: relative; display: inline-block; background: url('images/btn_rand_bg.png') no-repeat; }
.yellow-rand .yellow-rand-right { color:#FF6D01; text-decoration: none; width:100%; height: 25px; line-height: 25px; padding:0px; display: inline-block; position: absolute; top:0px; right:-2px; background: url('images/btn_rand_bg.png') no-repeat top right; }
.yellow-rand.larger { border:none; color:#FF6D01; text-decoration: none; width:100%; height: 32px; position: relative; display: inline-block; background:transparent url('images/btn_rand_bg.png') no-repeat 0 -34px; }
.yellow-rand.larger .yellow-rand-right { color:#FF6D01; text-decoration: none; width:100%; height: 32px; line-height: 32px; text-align:center; margin:0px; padding:0px; position: absolute; top:0px; right:-2px; display: inline-block; background:transparent url('images/btn_rand_bg.png') no-repeat right -34px; }
.mydate, .ui-mydate, .date { width:150px; height:32px; box-sizing: border-box; padding: 0 5px; background-position: center right !important; background-repeat: no-repeat !important; background-image: url('ui-images/datebox_arrow.png') !important; border:1px solid #D3D3D3; vertical-align: middle; }
/*--行程管理--begin--*/
.monthBar { height:26px; margin:2px 0 4px 50px; float: left; }
.monthBar li { width:48px; margin:0 5px; text-align: center; line-height:24px; border:1px solid transparent; display: inline-block; cursor: pointer; }
.monthBar li.on { border:1px solid #ffb82e; background-color:#fff; border-radius:3px; }
.cx-content { position: absolute; bottom: 0px; width: 100%; display: block; box-sizing: border-box; }
.cx-content .person { position:absolute; left:0; top:0; width:194px; border-right: 1px solid #c3c3c3; height:100%; }
.cx-content .person .bar { line-height: 44px; text-align:center; border-bottom: 1px solid #c3c3c3; }
.cx-content .person .table { position: absolute; width:100%; top:52px; bottom:0px; overflow-y: auto; }
.cx-content .dateSelect { position:absolute; right:350px; height: 85%; padding:10px 0; box-sizing: border-box; }
.cx-content .routing { position: absolute; width:330px; height:100%; background-color: #f8f8f8; right:10px; top:0px; border-left: 1px solid #c3c3c3; }
.cx-content .routing .time { height:26px; padding: 10px 0 0 45px; }
.cx-content .routing .time .arrow-left { width:16px; height:26px; background:url('images/arrow-left.png'); float: left; cursor: pointer; }
.cx-content .routing .time .text { width:200px; text-align: center; height:26px; line-height:26px; font-size: 15px; float: left; margin-left: 5px; }
.cx-content .routing .time .arrow-right { width:16px; height:26px; background:url('images/arrow-right.png'); float: left; cursor: pointer; }
.cx-content .routing .content { resize:none; position: absolute; width:320px; line-height:24px; font-size:13px; border:1px solid #c3c3c3; left:10px; top:50px; bottom:110px; background-color:#fff; }
.cx-content .routing .content textarea { position: absolute; width:100%; height:100%; padding:10px; box-sizing: border-box; border:none; background:transparent; font-family: sans-serif; font-size:13px; line-height: 24px; }
.cx-content .routing .footer { position: absolute; width:310px; height:100px; bottom:0; padding: 0 10px; font-size:13px; }
.cx-content .calendar { border-style:none; }
/*--行程管理--end--*/

.clearfix { *zoom: 1;
}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }
.ui-smallPagination { }
.ui-smallPagination .arrow-left { width:16px; height:26px; background:url('images/arrow-left.png'); float: left; cursor: pointer; }
.ui-smallPagination .arrow-right { width:16px; height:26px; background:url('images/arrow-right.png'); float: left; cursor: pointer; }
.ui-smallPagination .text, .ui-smallPagination .total { text-align: center; height:26px; line-height:26px; font-size: 15px; float: left; padding:0px 5px; }
.chooseFileBtn { color: gray; text-decoration: none; text-align: center; display: block; line-height: 2; width: 60px; margin:0 10px; background-color: #eee; border: solid 1px #bbb; border-radius: 2px; }
.myBig { font-size: 16px; }
.custom-file { width:auto; display: inline-block; height: 32px; position: relative; padding: 0 5px; border: 1px solid #C1C1C1; background-color: #ECECEC; text-align: center; color: #686868; border-radius: 3px; cursor: pointer; vertical-align: middle }
.custom-file .custom-file-title { float:left; width:100%; display: inline-block; line-height: 32px; height: 32px;cursor: pointer; }
.custom-file .custom-file-upload { position: absolute; right:0px; top:0px; width:75px;height:32px; display: block;cursor: pointer;z-index: 99999;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity: 0;
}


.MultiFile-wrap{}


/*
 * jQuery File Upload Plugin CSS
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 28px;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.fileWrapper{
    position:relative;
    margin:0px;
    padding:0;
    overflow:hidden;
    cursor: pointer;
}
.fileInputText{
    float:left;
    height:30px;
    padding:0 5px;
    margin:0px;
    border:1px solid #CDCDCD;
}
.nicefile,.fileInputButton{
    cursor: pointer;
    float:right;
    border:none;
    background:#0064C2;
    color:#FFFFFF;
    padding: 0px;
    background-color: #0064c2;
    border: 1px solid #015aae;
    text-align: center;
    color: #fff;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

